<ion-header>
  <ion-navbar no-border>
      <input type="search" placeholder="重庆鸡公煲" name="food" autocomplete="on" list="names" results [(ngModel)]='txt'/> 
      <datalist id="names"> 
        <option *ngFor="let item of menu">{{item}}</option>
      </datalist> 
      <span (click)="search(newName)">搜索</span>
  </ion-navbar>
</ion-header>
<ion-content>
<p class='txt'>热门搜索</p>
<ion-grid>
    <ion-row>
        <ion-col>大龙虾</ion-col>
        <ion-col>忠州豆腐乳</ion-col>
    </ion-row>
  <ion-row>
    <ion-col>张亮麻辣烫</ion-col>
    <ion-col>水煮肉片</ion-col>
    <ion-col>重庆火锅</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>肯德基汉堡</ion-col>
    <ion-col>绝味九九鸭脖</ion-col>
  </ion-row>
</ion-grid>
<p class='txt'>历史记录<ion-icon ios="ios-trash" md="md-trash" (click)="clear()"></ion-icon></p>
<ul>
    <li *ngFor="let item of arr" (click)='searchHis()'>{{item}}</li>
</ul>
</ion-content>
