page-about {
    .title {
        padding-left: 0!important;
        margin: 0;
        height: 44px;
        line-height: 44px;
        li {
            list-style: none;
            height: 44px;
            font-size: 20px;
            text-align: center;
            display: inline-block;
            width: 28%;
            clear: both;
        }
        img {
            float: right;
        }
    }
    .video {
        margin: 0;
        padding: 0;
        clear: both;
        li {
            height: auto;
            width: 48%;
            margin-left: 1%;
            list-style: none;
            float: left;
            border: 1px solid gainsboro;
        }
    }
    .article {
        margin: 0px!important;
        padding: 0px!important;
        li {
            height: 150px;
            width: 98%;
            margin-left: 1%;
            margin-top: 10px;
            border: 1px solid gainsboro;
        }
        div {
            float: left;
        }
        .artimg {
            width: 40%;
            height: 140px;
            img {
                height: 105%;
            }
        }
        .artcon {
            width: 58%;
            margin-left: 2%;
            h5 {
                font-family: "宋体";
                font-weight: bold;
                height: 15px;
                line-height: 10px;
                margin-top: 7px;
            }
            p {
                margin-left: -5%px;
                font-size: 15px;
                margin-top: 7px;
                letter-spacing: 2px;
                overflow: hidden;
            }
        }
    }
}