<ion-content>
  <div class="title">
    <ul>
      <li *ngFor="let item of arr;let idx=index;" (click)="isClick(idx)" [class.first]="isActive==idx" class="first">{{arr[idx]}}</li>
      <span class="add" (click)="goAdd()"> <img src="assets/imgs/add.png" alt=""></span>
    </ul>
  </div>
  <ion-searchbar placeholder="搜索" (click)="goSearch()"></ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles" refreshingText="正在刷新..." ></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="isActive">
    <div *ngSwitchCase="0">
      <ul class="video">
        <li *ngFor="let item of vido" (click)="goVideo(item.x_id,item.id)">
          <div><img src="{{item.src}}" alt=""></div>
          <p class="a">{{item.jianjie}}</p>
        </li>
      </ul>
    </div>
    <div *ngSwitchCase="1">
      <ul class="article">
        <li *ngFor="let item of article" (click)="goArticle(item.x_id,item.id)">
          <div class="artimg"><img src={{item.src}} alt=""></div>
          <div class="artcon">
            <h5>{{item.name}}</h5>
            <p>{{item.jianjie}}</p>
            <!-- <p>使用的厨具:{{item.tool}}</p>
            <p>所属分类：{{item.type}}</p> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
