page-article {
    ion-title {
        text-align: center;
    }
    .title {
        div {
            float: left;
        }
        .person img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
        .name {
            width: 77%;
            float: right;
        }
        .time {
            color: gray;
            font-size: 18px;
            line-height: 30px;
        }
        h3 {
            width: 250px;
            margin-left: 10%;
        }
    }
    #like {
        height: 30px;
        width: 30px;
        float: right;
        position: relative;
        bottom: 35px;
    }
    .buzhou {
        margin: 0 3%;
        li {
            line-height: 25px;
        }
    }
    ion-footer {
        .com {
            height: 450px;
            width: 100%;
            display: none;
            position: relative;
            background: #f8f8f8;
            overflow-y: auto;
        }
    }
    .per {
        div {
            float: left;
        }
        .p img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-left: 2%;
        }
    }
    h5 {
        margin-left: 2%;
        width: 200px;
    }
    .pcom {
        height: 30%;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .com li {
        list-style: none;
        height: 130px;
    }
    textarea{
        width: 90%;
        position: fixed;
        bottom: 75px;
    }
    #push{
        position: fixed;
        bottom: 75px;
        right: 1%;
    }
    ion-item {
        img {
            height: 25px;
            width: 25px;
            margin-left: 12%;
        }
        .heart {
            background:url(../../assets/imgs/web_heart_animation.png);
            background-position:left;
            background-repeat:no-repeat;
            height:30px;
            width:100px;
            position:absolute;
            left:60%;
            top:15px;
            background-size:2900%;
            float:left;
        }
        .heart:hover, .heart:focus{
            background-position:right;
        }
        
        @-webkit-keyframes heartBlast {
            0% {
                background-position:left;
            }
            100% {
                background-position:right;
            }
        }
        
        @keyframes heartBlast {
            0% {
                background-position:left;
            }
            100% {
                background-position:right;
            }
        }
        
        .heartAnimation {
            display:inline-block;
            -webkit-animation-name:heartBlast;
            animation-name:heartBlast;
            -webkit-animation-duration:.8s;
            animation-duration:.8s;
            -webkit-animation-iteration-count:1;
            animation-iteration-count:1;
            -webkit-animation-timing-function:steps(28);
            animation-timing-function:steps(28);
            background-position:right;
        }
        .likeCount{
            float:left;
            position:absolute;
            left:80%;
            top:15px;
            font-size:25px;
            color:#999999}
    }
}