<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>食途后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="../public/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="../public/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link href="../public/stylesheets/css/admin.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>

<div class="container">
		
	<div class="row">
		
		<div class="span2">
		
		<div class="main-left-col">
		
			<h1><i></i><br />食途</h1>
			
			<ul class="side-nav">

				<li class="active">
					<a href="home.html"><i class="icon-home"></i> 首页</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#website-dropdown" href="#"><i class="icon-sitemap"></i> 用户作品 <b class="caret"></b></a>
					<ul id="website-dropdown" class="collapse">
						<li><a href="wenzhang.html">文章</a></li>
						<li><a href="tupian.html">图片</a></li>
						<li><a href="shipin.html">视频</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-shopping-cart"></i> 分类管理 <b class="caret"></b></a>
					<ul id="store-dropdown" class="collapse">
						<li><a href="shicai.html">食材分类</a></li>
						<li><a href="meishi.html">美食分类</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"><i class="icon-signal"></i> 推荐管理 <b class="caret"></b></a>
					<ul id="reports-dropdown" class="collapse">
						<li><a href="tuijianshicai.html">食材</a></li>
						<li><a href="tuijianmeishi.html">美食</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-signal"></i> 人员管理 <b class="caret"></b></a>
					<ul id="members-dropdown" class="collapse">
						<li><a href="tuijianshicai.html">用户管理</a></li>
						<li><a href="tuijianmeishi.html">管理员管理</a></li>
					</ul>
				</li>
				<li><a href="xitongtongzhi.html"><i class="icon-bullhorn"></i> 系统通知管理 
			
				</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i> 用户反馈</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="collapse" data-target="#settings-dropdown" href="#"><i class="icon-cogs"></i> 设置</a>
				</li>
				
				
			</ul>
		
		</div> <!-- end main-left-col -->
	
	</div> <!-- end span2 -->
	
	<div class="span10">
		
	<div class="secondary-masthead">
	
		<ul class="nav nav-pills pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> 王清顺 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="profile.html">通知</a></li>
					<li><a href="">注销</a></li>
				</ul>
			</li>
		</ul>

		
		
	</div>
	
	<div class="main-area dashboard">

		<div class="row">
		
			<div class="span10">
			
				<div class="slate clearfix">
							
					<a class="stat-column" href="#">
						
						<span class="number">80</span>
						<span>当月注册人数</span>
						
					</a>
				
					<a class="stat-column" href="#">
						
						<span class="number">500</span>
						<span>累计注册人数</span>
						
					</a>
				
					<a class="stat-column" href="#">
						
						<span class="number">5000</span>
						<span>累计下载量</span>
						
					</a>
				
					<a class="stat-column" href="#">
						
						<span class="number">8000</span>
						<span>累计访问量</span>
						
					</a>
				</div>
			
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="span5">
			
				<div class="slate">
				
					<div class="page-header">
						<h2><i class="icon-signal pull-right"></i>用户数量</h2>
					</div>
					<div id="placeholder" style="height: 297px;"></div>
				
				</div>
			
			</div>
		
			<div class="span5">
			
				<div class="slate">
				
					<div class="page-header">
						<h2>最新发布<h2>
					</div>
					
					<table class="orders-table table">
					<tbody>
						<tr>
							<td><a href="">id</a> <span class="label label-info">Paid</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td><a href="">id</a> <span class="label label-success">Dispatched</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td><a href="">id</a> <span class="label label-important">Refunded</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td><a href="">id</a> <span class="label">Awaiting Payment</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td><a href="">id</a> <span class="label label-inverse">Failed</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td><a href="">id</a> <span class="label label-warning">Cancelled</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td><a href="">id</a> <span class="label label-info">Paid</span></td>
							<td>time</td>
						</tr>
						<tr>
							<td colspan="2"><a href="shicai.html">View more orders</a></td>
						</tr>
					</tbody>
					</table>

				</div>
			
			</div>
		
		</div>
		
			<div class="span5">
			
				<div class="slate">
				
					<div class="page-header">
						<h2><i class="icon-envelope-alt pull-right"></i>反馈</h2>
					</div>
				
					<table class="orders-table table">
					<tbody>
						<tr>
							<td><a href="">内容</a> <span class="label label-info">New</span></td>
							<td class="date">Today at 12:01</td>
						</tr>
						<tr>
							<td><a href="">Another customer enquiry</a> <span class="label label-info">New</span></td>
							<td class="date">Yesterday at 16:34</td>
						</tr>
						<tr>
							<td><a href="">A third customer enquiry</a></td>
							<td class="date">22nd June 2014</td>
						</tr>
						<tr>
							<td><a href="">This customer enquiry spans onto two lines so we can see what it will look like</a></td>
							<td class="date">21st June 2014</td>
						</tr>
						<tr>
							<td><a href="">A final customer enquiry</a></td>
							<td class="date">20th June 2014</td>
						</tr>
						<tr>
							<td colspan="2"><a href="">View more enquiries</a></td>
						</tr>
					</tbody>
					</table>

				</div>
			
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="span10 footer">
			
				<p>&copy; Website Name 2018</p>
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
		
</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../public/stylesheets/js/jquery.min.js"></script>
<script src="../public/stylesheets/js/bootstrap.js"></script>
<script src="../public/stylesheets/js/excanvas.min.js"></script>
<script src="../public/stylesheets/js/jquery.flot.min.js"></script>
<script src="../public/stylesheets/js/jquery.flot.resize.js"></script>
<script type="text/javascript">
$(function () {
    var d1 = [];
        d1.push([0, 32]);
        d1.push([1, 30]);
        d1.push([2, 24]);
        d1.push([3, 17]);
        d1.push([4, 11]);
        d1.push([5, 25]);
        d1.push([6, 28]);
        d1.push([7, 36]);
        d1.push([8, 44]);
        d1.push([9, 52]);
        d1.push([10, 53]);
        d1.push([11, 50]);
        d1.push([12, 45]);
        d1.push([13, 42]);
        d1.push([14, 40]);
        d1.push([15, 36]);
        d1.push([16, 34]);
        d1.push([17, 24]);
        d1.push([18, 17]);
        d1.push([19, 17]);
        d1.push([20, 20]);
        d1.push([21, 28]);
        d1.push([22, 36]);
        d1.push([23, 38]);

    $.plot($("#placeholder"), [ d1 ], { grid: { backgroundColor: 'white', color: '#999', borderWidth: 1, borderColor: '#DDD' }, colors: ["#FC6B0A"], series: { lines: { show: true, fill: true, fillColor: "rgba(253,108,11,0.4)" } } });
});
</script>


</body>
</html>