<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
    <title>食途后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="../public/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="../public/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link href="../public/stylesheets/css/admin.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>

<div class="container">
		
	<div class="row">
		
		<div class="span2">
		
			<div class="main-left-col">
		
				<h1><i></i><br />食途</h1>
				
				<ul class="side-nav">
	
					<li class="active">
						<a href="home.html"><i class="icon-home"></i> 首页</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#website-dropdown" href="#"><i class="icon-sitemap"></i> 用户作品 <b class="caret"></b></a>
						<ul id="website-dropdown" class="collapse">
							<li><a href="wenzhang.html">文章</a></li>
							<li><a href="tupian.html">图片</a></li>
							<li><a href="shipin.html">视频</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-shopping-cart"></i> 分类管理 <b class="caret"></b></a>
						<ul id="store-dropdown" class="collapse">
							<li><a href="shicai.html">食材分类</a></li>
							<li><a href="meishi.html">美食分类</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"><i class="icon-signal"></i> 推荐管理 <b class="caret"></b></a>
						<ul id="reports-dropdown" class="collapse">
							<li><a href="tuijianshicai.html">食材</a></li>
							<li><a href="tuijianmeishi.html">美食</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-signal"></i> 人员管理 <b class="caret"></b></a>
						<ul id="members-dropdown" class="collapse">
							<li><a href="tuijianshicai.html">用户管理</a></li>
							<li><a href="tuijianmeishi.html">管理员管理</a></li>
						</ul>
					</li>
					<li><a href="xitongtongzhi.html"><i class="icon-bullhorn"></i> 系统通知管理 
					</a></li>
					
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i> 用户反馈</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#settings-dropdown" href="#"><i class="icon-cogs"></i> 设置</a>
					</li>
					
					
				</ul>
			
			</div> <!-- end main-left-col -->
	
	</div> <!-- end span2 -->
	
	<div class="span10">
		
			<div class="secondary-masthead">
			
				<form class="form-inline">
					<input type="text" class="input-large" placeholder="搜索">
					<button type="submit" class="btn btn-primary">搜索</button>
				</form>
		
				<ul class="nav nav-pills pull-right" style="margin-top: -32px;">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> 王清顺 <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="profile.html">通知</a></li>
							<li><a href="">注销</a></li>
						</ul>
					</li>
				</ul>
				
			</div>
			
			<div class="main-area dashboard">
					
					<div class="row">
						
						<div class="span10">
						
							<div class="slate">
							
								<div class="page-header">
									<h2>视频</h2>
								</div>
							
								<div class="page" >
									<div class="page-main" >
									  <div class="my-3 my-md-5" >
										<div class="container">
										  <div class="row row-cards" >
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left;">
											  <div class="card p-3">
													<a href="javascript:void(0)" class="mb-3">
													  <img src="demo/photos/grant-ritchie-338179-500.jpg" alt="Photo by Nathan Guerrero" class="rounded">
													</a>
													<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Nathan Guerrero</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
													<a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/ilnur-kalimullin-218996-500.jpg" alt="Photo by Alice Mason" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Alice Mason</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
													<a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/jakob-owens-224352-500.jpg" alt="Photo by Rose Bradley" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Rose Bradley</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
																		  <a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/jeremy-bishop-330225-500.jpg" alt="Photo by Peter Richards" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Peter Richards</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
																		  <a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/jonatan-pie-226191-500.jpg" alt="Photo by Wayne Holland" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Wayne Holland</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
																		  <a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/josh-calabrese-66153-500.jpg" alt="Photo by Michelle Ross" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Michelle Ross</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
																		  <a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/joshua-earle-157231-500.jpg" alt="Photo by Debra Beck" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Debra Beck</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
																		  <a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/mahkeo-222765-500.jpg" alt="Photo by Phillip Peters" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Phillip Peters</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
													<a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											<div class="col-sm-6 col-lg-4" style="height:300px; width:300px;float: left">
											  <div class="card p-3">
												<a href="javascript:void(0)" class="mb-3">
												  <img src="demo/photos/matt-barrett-339981-500.jpg" alt="Photo by Jack Ruiz" class="rounded">
												</a>
												<div class="d-flex align-items-center px-2">
												  <div style="float:left;">Jack Ruiz</div>
												  <div class="ml-auto text-muted" style="float:right;">
													<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
																		  <a class="btn btn-small btn-primary" href="form.html">查看</a>
												  </div>
												</div>
											  </div>
											</div>
											
											
										  </div>
										</div>
									  </div>
								  </div>
						</div>
		
							</div>
						
						</div>
						
						<div class="modal hide fade" id="removeItem">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">×</button>
								<h3>删除</h3>
							</div>
							<div class="modal-body">
								<p>你确定删除这个视频吗?</p>
							</div>
							<div class="modal-footer">
								<a href="#" class="btn" data-dismiss="modal">关闭</a>
								<a href="#" class="btn btn-danger">删除</a>
							</div>
						</div>
					
						<div class="span5">
						
							<div class="pagination pull-left">
								<ul>
									<li><a href="#">Prev</a></li>
									<li class="active">
									  <a href="#">1</a>
									</li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">Next</a></li>
								</ul>
							</div>
						
						</div>
						
						<div class="span5 listing-buttons pull-right">
							<button class="btn btn-primary">添加</button>
							<button class="btn btn-info">批量删除</button>
						</div>
						
					</div>
					
				<div class="row">
				
					<div class="span10 footer">
					
						<p>&copy; Website Name 2018</p>
					
					</div>
				
				</div>
				
			</div>
			
			</div> <!-- end span10 -->
				
			</div> <!-- end row -->
				
		</div> <!-- end container -->
		
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="../public/stylesheets/js/jquery.min.js"></script>
		<script src="../public/stylesheets/js/bootstrap.js"></script>
		
		
		</body>
		</html>