<!DOCTYPE html>
<html lang="en">
<head >
    
	<meta charset="utf-8">
    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="../public/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="../public/stylesheets/css/font-awesome.css" rel="stylesheet">
    <link href="../public/stylesheets/css/admin.css" rel="stylesheet">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>    
<body>

<div class="container">
		
	<div class="row">
		
		<div class="span2">
		
			<div class="main-left-col">
		
				<h1><i></i><br />食途</h1>
				
				<ul class="side-nav">
	
					<li class="active">
						<a href="home.html"><i class="icon-home"></i> 首页</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#website-dropdown" href="#"><i class="icon-sitemap"></i> 用户作品 <b class="caret"></b></a>
						<ul id="website-dropdown" class="collapse">
							<li><a href="wenzhang.html">文章</a></li>
							<li><a href="tupian.html">图片</a></li>
							<li><a href="shipin.html">视频</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i class="icon-shopping-cart"></i> 分类管理 <b class="caret"></b></a>
						<ul id="store-dropdown" class="collapse">
							<li><a href="shicai.html">食材分类</a></li>
							<li><a href="meishi.html">美食分类</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"><i class="icon-signal"></i> 推荐管理 <b class="caret"></b></a>
						<ul id="reports-dropdown" class="collapse">
							<li><a href="tuijianshicai.html">食材</a></li>
							<li><a href="tuijianmeishi.html">美食</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-signal"></i> 人员管理 <b class="caret"></b></a>
						<ul id="members-dropdown" class="collapse">
							<li><a href="yonghuguanli.html">用户管理</a></li>
							<li><a href="tuijianmeishi.html">管理员管理</a></li>
						</ul>
					</li>
					<li><a href="xitongtongzhi.html"><i class="icon-bullhorn"></i> 系统通知管理 
						<!-- <span class="badge badge-warning">2</span> -->
					</a></li>
					
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i> 用户反馈</a>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="collapse" data-target="#settings-dropdown" href="#"><i class="icon-cogs"></i> 设置</a>
					</li>
					
					
				</ul>
			
			</div> <!-- end main-left-col -->
	
	</div> <!-- end span2 -->
	
	<div class="span10">
		
	<div class="secondary-masthead">
	
		<form class="form-inline">
			<input type="text" class="input-large" placeholder="搜索">
			<button type="submit" class="btn btn-primary">搜索</button>
		</form>

		<ul class="nav nav-pills pull-right" style="margin-top: -32px;">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> 王清顺 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="profile.html">通知</a></li>
					<li><a href="index.html">注销</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
	
	<div class="main-area dashboard">
			
			<div class="row">
				
				<div class="span10">
				
					<div class="slate">
					
						<div class="page-header">
							<h2>文章</h2>
						</div>
					
						<table class="orders-table table">
						<thead>
							<tr>
								<th>标题</th>
								<th>内容</th>
								<th class="actions">操作&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><a href="form.html" >西兰花干贝疙瘩汤</a><br /><span class="meta">作者</span></td>
								<td>1.干贝泡发1个小时，切碎碾压碎。;2.面粉中一点点加水，搅匀再加水，直到没干粉，搅拌成小颗粒面疙瘩...</td>
								<td class="actions">
									<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
									<a class="btn btn-small btn-primary" href="form.html">编辑</a>
								</td>
							</tr>
							<tr>
								<td><a href="form.html" >凉拌海带丝</a><br /><span class="meta">作者</span></td>
								<td>1.把黄瓜和红椒切成丝，放入碗中，加入盐用手抓一抓腌五分钟。;2.把海带入开水锅焯开捞出。;3.把蒜...</td>
								<td class="actions">
									<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
									<a class="btn btn-small btn-primary" href="form.html">编辑</a>
								</td>
							</tr>
							<tr>
								<td><a href="form.html" >红烧开背黑虎虾</a><br /><span class="meta">作者</span></td>
								<td>1.黑虎虾背部剪开，挑去沙线，冲洗干净。;2.大蒜拍碎剁末，大葱切末，姜切末。;3.调一个碗汁：酱油...</td>
								<td class="actions">
									<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
									<a class="btn btn-small btn-primary" href="form.html">编辑</a>
								</td>
							</tr>
							<tr>
								<td><a href="form.html" >搞怪饼干</a><br /><span class="meta">作者</span></td>
								<td>1.黄油室温软化，软化好后加入糖粉，最好用电动打蛋器将其找至发白。;2.鸡蛋打到酷新怡量杯里，搅散，...</td>
								<td class="actions">
									<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
									<a class="btn btn-small btn-primary" href="form.html">编辑</a>
								</td>
							</tr>
							<tr>
								<td><a href="form.html" >十谷米粥</a><br /><span class="meta">作者</span></td>
								<td>1.取约100g的量。;2.洗净后，加水浸泡约4小时。;3.取450ml饮用水，将食材与水放入电压力...
								</td>
								<td class="actions">
								<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
								<a class="btn btn-small btn-primary" href="form.html">编辑</a>
							    </td>
							</tr>
							<tr>
								<td><a href="form.html" >萝卜盒子</a><br /><span class="meta">作者</span></td>
								<td>1.调好肉馅，萝卜洗净去皮，切成每两片一组，不要切断。;2.蘸上盐腌制10分钟。;3.夹上肉馅，摆到...</td>
								<td class="actions">
									<a class="btn btn-small btn-danger" data-toggle="modal" href="#removeItem">删除</a>
									<a class="btn btn-small btn-primary" href="form.html">编辑</a>
								</td>
							</tr>
							
							
						</tbody>
						</table>

					</div>
				
				</div>
				
				<div class="modal hide fade" id="removeItem">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h3>删除</h3>
					</div>
					<div class="modal-body">
						<p>你确定删除这篇文章吗?</p>
					</div>
					<div class="modal-footer">
						<a href="#" class="btn" data-dismiss="modal">关闭</a>
						<a href="#" class="btn btn-danger">删除</a>
					</div>
				</div>
			
				<div class="span5">
				
					<div class="pagination pull-left">
						<ul>
							<li><a href="#">Prev</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				
				</div>
				
				<div class="span5 listing-buttons pull-right">
					<button class="btn btn-primary">添加</button>
					<button class="btn btn-info">批量删除</button>
				</div>
				
			</div>
			
		<div class="row">
		
			<div class="span10 footer">
			
				<p>&copy; Website Name 2018</p>
			
			</div>
		
		</div>
		
	</div>
	
	</div> <!-- end span10 -->
		
	</div> <!-- end row -->
	
</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../public/stylesheets/js/jquery.min.js"></script>
<script src="../public/stylesheets/js/bootstrap.js"></script>


</body>
</html>