<ion-header no-border>
    <ion-navbar color="tom">
        <ion-title>个人资料</ion-title>
        <ion-buttons end (click)='put(Newname)'>
            <button ion-button>
                <ion-icon ios="ios-checkmark" md="md-checkmark" ></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <div id='image' (click)='go()'> -->
    <div id='image'>
        <!-- <input type="file" id="upload" accept="image/*" style="display:none"/> -->
        <div class="upload">
            <form id="uploadForm" enctype="multipart/form-data" method="post" action="">
                <input type="file" name="imageFile" id="imageFile" (change)="fileSelected()" />
            </form>
        </div>
        <img src={{headsrc}} alt="">
        <p>点击上传头像</p>
    </div>
    <ion-list>
        <ion-item>
            我的昵称
            <input id="input" item-content type='text' placeholder={{name}} style="border:none" #Newname>
        </ion-item>
        <ion-item>
            <ion-label>我的生日</ion-label>
            <ion-select [(ngModel)]="item" okText="确定" cancelText="取消">
                <ion-option *ngFor="let item of year" value={{item}}>{{item}}</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="some" okText="确定" cancelText="取消">
                <ion-option *ngFor="let some of month" [value]="some">{{some}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>我的职业</ion-label>
            <ion-select [(ngModel)]="occ" okText="确定" cancelText="取消">
                <ion-option *ngFor="let occ of occupation" value={{occ}}>{{occ}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>住址</ion-label>
            <ion-multi-picker [placeholder]='city' [(ngModel)]="side" item-content [multiPickerColumns]="listData" doneText="确定" cancelText="取消" [(ngModel)]="side"></ion-multi-picker>
        </ion-item>

        <ion-item>
            <ion-label>性别</ion-label>
            <ion-select [(ngModel)]="sex" okText="确定" cancelText="取消">
                <ion-option *ngFor='let sex of gender' value={{sex}}>{{sex}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>