<ion-header no-border>
    <ion-navbar color="tom">
        <ion-title>个人资料</ion-title>
        <ion-icon ios="ios-checkmark" md="md-checkmark" (click)='store(Newname)'></ion-icon>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id='image' (click)='go()'>
        <img src={{headsrc}} alt="">
        <p>点击上传头像</p>
    </div>
    <ion-list>
        <ion-item>
            我的昵称
            <input id="input" item-content type='text' placeholder="{{name}}" style="border:none" value="" #Newname>
        </ion-item>
        <ion-item>
            <ion-label>我的生日</ion-label>
            <ion-select [(ngModel)]="item" okText="确定" cancelText="取消" (ionChange)="getYear(item)">
                <ion-option *ngFor="let item of year" value={{item}}>{{item}}</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="some" okText="确定" cancelText="取消" (ionChange)="getMonth(some)">
                <ion-option *ngFor="let some of month" [value]="some">{{some}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>我的职业</ion-label>
            <ion-select [(ngModel)]="occ" okText="确定" cancelText="取消" (ionChange)="getOcc(occ)">
                <ion-option *ngFor="let occ of occupation" value={{occ}}>{{occ}}</ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item>
            <ion-label>Fruit Picker</ion-label>
            <ion-multi-picker id="fruit" [(ngModel)]="fruit" item-content [multiPickerColumns]="fruits"></ion-multi-picker>
        </ion-item> -->
        <ion-item>
            <ion-label>我的家乡</ion-label>
            <ion-multi-picker item-content [multiPickerColumns]="listData" doneText="确定" cancelText="取消"></ion-multi-picker>
        </ion-item>
        <ion-item>
            <ion-label>常居</ion-label>
            <ion-multi-picker item-content [multiPickerColumns]="listData" doneText="确定" cancelText="取消"></ion-multi-picker>
        </ion-item>
        <!-- <ion-item>
            <ion-label>我的家乡</ion-label>
            <ion-select [(ngModel)]="side" okText="确定" cancelText="取消" (ionChange)="getSide(side)">
                <ion-option *ngFor="let side of countryside" value={{side}}>{{side}}</ion-option>
            </ion-select>
        </ion-item> -->
        <!-- <ion-item>
            <ion-label>常居</ion-label>
            <ion-select [(ngModel)]="sides" okText="确定" cancelText="取消" (ionChange)="getSides(sides)">
                <ion-option *ngFor="let sides of countryside" value={{sides}}>{{sides}}</ion-option>
            </ion-select>
        </ion-item> -->
        <ion-item>
            <ion-label>性别</ion-label>
            <ion-select [(ngModel)]="sex" okText="确定" cancelText="取消" (ionChange)='getSex(sex)'>
                <ion-option *ngFor='let sex of gender' value={{sex}}>{{sex}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <!-- <button ion-button (click)='clear()'>清除数据</button> -->
</ion-content>