<ion-header>
  <ion-navbar>
    <ion-title>评论</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ul>
    <li class="p"><img src="assets/imgs/timg.jpg" alt=""></li>
    <li>
      <h5>
        我爱厨房
      </h5>
    </li>
    <li id="button"><button>回复</button></li>
  </ul>
  <ul class="article">
    <li (click)="goArticle()" *ngFor="let item of array" class="item">
      <div class="share">{{item}}</div>
      <ul>
        <li *ngFor="let index of arr">
          <div class="artimg"><img src="{{index.src}}" alt=""></div>
          <div class="artcon">
            <h3>{{index.name}}</h3>
            <p>{{index.jianjie}}</p>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</ion-content>
