page-comment {
    .p img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 2%;
    }
    li{
        float: left;
        list-style: none;
    }
    button{
        height: 40px;
        width: 60px;
        margin: 20% 0 0 60%;
    }
   h5{
        margin-left: 2%;
        width: 200px;
    } 
    .article{
        margin: 0;
        padding: 0;
        .item{
            height: 150px;
            width: 94%;
            margin: 3%;
            // background-color: red;
        }
        .share{
            font-size: 18px;
        }
        .artimg{
            width: 40%;
            height: 110px;
            img{
                height: 100%;
                width: 100%;
                line-height: 110px;
            }
        }
        .artcon{
            width: 60%;
            height: 110px;
            float:right;
            p{
                margin-left: 5px;
                font-size: 20px;
                text-align: center;
                position: relative;
                bottom: 100px;
            }
        }
    }
}
