page-author {
    ion-title{
        text-align: center;
    }
    .title{
        div{
            float: left;
        }
        .person img{
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }
        .name{
            width: 77%;
            float: right;
        }
        .time{
            color: gray;
            font-size: 18px;
            line-height: 30px;
        }
        h3{
            width: 250px;;
            margin-left: 10%;
        }
        input{
            float: right;
            margin-right: 5%;
            background-color: tomato;
        }
        #input2{
            display: none;
        }
    }
    .banner{
        list-style: none;
    }
    .banner li{
        float: left;
        margin-left: 18%;
        font-size:20px;
        margin-top: 2%;
    }
    .people{
    border: 1px solid red; 
    }
}
