page-look {
    ion-title {
        margin-left: 30%;
    }
    li {
        display: block;
        margin: 10px 10px 0 10px;
    }
    .video {
        text-align: center;
        position: relative;
        p {
            width: 360px;
            text-align: center;
            position: absolute;
            top: 100px;
            color: white;
            font-size: 20px;
            opacity: 0.8;
        }
    }
    .article {
        height: 110px;
        div {
            float: left;
        }
        .artimg {
            width: 40%;
            height: 110px;
            img {
                height: 100%;
            }
        }
        .artcon {
            width: 55%;
            height: 110px;
            margin-left: 5%;
        }
    }
}