page-comment {
    .p img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 2%;
    }
    li{
        float: left;
        list-style: none;
    }
    button{
        height: 40px;
        width: 60px;
        margin: 20% 0 0 60%;
    }
   h5{
        margin-left: 2%;
        width: 200px;
    } 
    .share{
        margin: 15% 0 3% 2%;
        font-size: 18px;;
    }
    .article{
        margin: 0;
        padding: 0;
        li{
            height: 110px;
            width: 98%;
            margin-left: 1%;
            border: 1px solid gainsboro;
        }
        div{
            float: left;
        }
        .artimg{
            width: 40%;
            height: 110px;
            img{
                height: 100%;
            }
        }
        .artcon{
            width: 60%;
            height: 110px;
            p{
                margin-left: 5px;
            }
        }
    }
}
