page-contact {
    .title{
        padding-left: 0!important;
        margin: 0;
        height: 44px;
        line-height: 44px;
        li{
            list-style: none;
            height: 44px;
            font-size: 20px;
            text-align: center;
            display: inline-block;
            width: 50%;
        }
    }
    ion-avatar{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        img{
            margin: 0 auto;
           margin-top: 9%;
        }
    }
   .person{
    background-color: #7083EC;
   }
   .pl{
    background-color:  #259B24;
   }
   .zan{
    background-color: #F99604;
   }
   .warn{
        text-align: center;
        margin-top: 20%;
    }
    p{
        font-size: 20px;
        text-align: center;
        color: gainsboro;
    }
}
