page-find-password {
    ion-title {
        margin-left: 25%;
        color: black;
    }
    ion-content {
        background: url(../../assets/imgs/bg4.jpeg);
        background-size: cover;
        .box {
            ion-item {
                background: transparent;
            }
            button {
                color: #fff;
                margin-top: 50px;
            }
            p {
                color: #fff!important;
                text-align: center;
            }
        }
        ion-radio {
            text-align: center;
        }
    }
}