page-edition {
    ion-title {
        margin-left: 25%;
    }
    .img {
        text-align: center;
        margin: 15% 0;
    }
    img {
        width: 100px;
    }
    p {
        text-align: center;
        line-height: 20px;
        color: black;
    }
}